body{
    background-color: #87CEFA;
}


.whitecontainer{
    padding: 50px;
    padding-left: 150px; 
    background-color: white;
}

.specificlabel{
    width: 120px;
}

.widthinput{
    width : 560px;
}